
/* Navbar Styles */
.nav {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7%;
    /* background: rgb(202, 17, 17); */
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    flex-wrap: wrap; /* Allow wrapping for small screens */
}

.img {
    height: 35px;
    width: 30px;
    margin-right: 20px;
}

/* Title Styles */
.title h1 {
    margin: 0;
    font-size: 1.5rem;
}

.title h1 span {
    color: #0e9b7f;
} 

h1:hover,.img{
    cursor: pointer;
}